@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    width: 100vw;
    height: 100vh;
    background-color: #d9afd9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background: radial-gradient(at center top, rgb(59, 130, 246), rgb(37, 99, 235));
}

.bg-black {
    background: black !important;
}

::-webkit-scrollbar {
    display: none;
}
